<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <%include ./include/header-res.ejs%>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
<%include ./include/header.ejs%>

<section class="main">
   博客
</section>

<%include ./include/footer-res.ejs%>

<script>


    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {
                    showAside: false,

                }
            }

            initial() {



            }
        }


        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>