<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <%include ./include/header-res.ejs%>
    <!--<link rel="stylesheet" href="/css/common.css">-->
</head>
<body>
<%include ./include/header.ejs%>

<section class="main">
    <% let supplies = ['mop', 'broom', 'duster'] %>
    <ul>
        <% for(var i = 0; i < supplies.length; i++) { %>
        <li><%= supplies[i] %></li>
        <% } %>
    </ul>


</section>
<aside>

</aside>

<%include ./include/footer-res.ejs%>
<script>


    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {

                }
            }

            initial() {


            }
        }


        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>