<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- 引入样式 -->
    <% include ./include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/common.css">-->
    <style>
        .main {
            background: none;
            font-size: 0;
        }

        @media (min-width: 970px) {
            .main-nav {
                width: 100px;
                margin-right: 10px;
            }

            .main-content {
                width: 1000px;
                height: 800px;
            }

        }

        .main-nav, .main-content {
            font-size: 14px;
            background: white;
            display: inline-block;
            vertical-align: top;
            margin-bottom: 10px;

        }


        .nav-item {
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: #707070;
            margin-bottom: 1px;
            cursor: pointer;
            transition: all 0.2s;
        }

        .nav-item.on {
            background: #2e6da4;
            color: white;
        }

        .nav-item:hover {
            background: #2e6da4;
            color: white;
        }


        .article-item {
            padding: 0.2rem 0.3rem;
            /*padding: 18px 24px;*/
            background: #fff;
            border-bottom: 1px solid #f4f4f4;
            position: relative;
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
        }

        .article-title a {
            font-size: 18px;
            line-height: 28px;
            color: #333;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .article-title a:hover {
            color: #2e6da4;
        }

        .article-abstract {
            margin-bottom: 4px;
            color: #8a8a8a;
            font-size: 14px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .article-author {
            color: #333;
            /*margin-right: 50px;*/
        }

        .article-time, .article-comment, .article-pv {
            color: #999;
            /*margin-right: 50px;*/
        }

        .article-author:hover, .article-comment:hover, .article-pv:hover {
            color: #3399ea;
            cursor: pointer;
        }

        .article-comment i, .article-pv i {
            color: #3399ea;
            margin-right: 1px;
            padding: 2px 5px;

        }

        .interval {
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: #adadad;
            margin-top: 10px;
            margin-left: 8px;
            margin-right: 8px;
            vertical-align: 4px;
            display: inline-block;
        }

    </style>
</head>
<body class="container-fluid">
<% include ./include/header.ejs %>

<section class="main row">

    <div class="main-nav col-xs-12">
        <div class="nav-item" data-key="recommend">推荐</div>
        <div class="nav-item" data-key="comment">热门评论</div>
        <div class="nav-item" data-key="read">热门阅读</div>
        <div class="nav-item">暂无</div>
        <div class="nav-item">暂无</div>
        <div class="nav-item">暂无</div>
    </div>
    <div class="main-content col-xs-12">

        <div class="articleListWrap">
            <!---->
        </div>

    </div>

</section>
<aside>

</aside>

<script type="text/html" id="new_blog_template">
    {{ if list.length > 0 }}
    {{each list }}
    <div class="article-item">
        <div class="article-title"><a href="{{ '/common/blogDetail/'+ $value.id }}" target="_blank">{{ $value.title
                }}</a></div>
        <p class="article-abstract">{{ $value.content.replace(/(<\/?.+?\/?>|&nbsp;|&ldquo;|&rdquo;|&quot;)/g,
            "").slice(0, 200) }}</p>
        <span class="article-author">{{ $value.author }}</span>
        <div class="interval"></div>
        <span class="article-time">{{ $value.createTime | dateFormat }}</span>
        <div class="interval"></div>
        <span class="article-pv"><i>{{ $value.PV ? $value.PV : 0 }}</i>阅读</span>
        <div class="interval"></div>
        <span class="article-comment"><i>{{ $value.commentCount ? $value.commentCount : 0 }}</i>评论</span>
    </div>
    {{ /each }}
    {{ /if }}
</script>
<% include ./include/footer-res.ejs %>
<script>


    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {}
            }

            initial() {

                $('.nav-item').click(function () {
                    let key = $(this).data('key');
                    if (!key) return;
                    manage.getNewArticleList(key);
                    $('.nav-item').removeClass('on');
                    $(this).addClass('on');
                });
                $('.nav-item').eq(0).click();

            }

            getNewArticleList(key) {
                $('.loading-mask').show();
                ajaxData('post', '/getNewBlogs-all', {key: key}).then(function (res) {
                    $('.loading-mask').hide();
                    if (res.success) {
                        let data = {
                            list: res.data,
                        };
                        let str = template('new_blog_template', data);
                        $('.articleListWrap').html(str);

                    }
                })
            }


        }


        let manage = new Manage();
        template.defaults.imports.dateFormat = function (val) {
            return new Date(Number(val)).toLocaleString();
        };
        manage.initial();


    });


</script>
</body>
</html>