/**
* 
* @author 付颖志
* @create 2018-08-10 下午4:10
**/
html, body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

body {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    padding: 0;
}

article pre{
    color: lime;
    background: #282c34;
    font-weight: 700;
}
/*富文本表情包*/
.fr-emoticon{
    background-size: 94%;
    width: 30px;
    height: 30px;
    display: inline-block;
}


.clear:after{
    display: block;
    content: '';
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}

.text-white {
    color: white;
}

.text-red {
    color: #d9534f;
}

.errorTip {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    /*margin: -2rem 0 0 -4rem;*/
    min-width: 200px;
    /*height: 1.8rem;*/
    padding: 5px 30px;
    background: rgba(255, 255, 255, 0.6);
    color: red;
    font-weight: 500;
    z-index: 100;
    border-radius: 40px;
    text-align: center;
    font-size: 14px;
}

.errorTip.hide0 {
    transition: all 1s;
    transform: translate(-50%, -50px);
    opacity: 0;
}

.tip{
    font-size: 12px;
    padding: 2px 10px;
    color: #999;
}

.modify{
    color: #2aabd2;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 15px;
}
.delete{
    color: red;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 15px;
}

/*导航*/
header {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*z-index: 1000;*/
    /*margin-left: -600px;*/
    /*padding: 0 200px;*/
    width: 1200px;
    margin: 0 auto;
    /*background: #fff;*/
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

header > .link {
    padding: 10px 20px;
    margin: 0 2px;
    color: white;
    text-decoration: none;
    display: inline-block !important;
    position: relative;
    width: 130px;
    height: 40px;
    margin-top: 15px;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.link span {
    position: absolute;
    display: inline-block;
    background: white;
    transition: all 0.4s ease-in-out;
}

.link span:nth-of-type(1) {
    width: 0px;
    height: 1px;
    top: 0;
    left: 0%;
    right: auto;
}

.link:hover > span:nth-of-type(1) {
    width: 130px;
}

.link span:nth-of-type(2) {
    width: 1px;
    height: 0;
    bottom: 0;
    left: 0;
}

.link:hover > span:nth-of-type(2) {
    height: 40px;
}

.link span:nth-of-type(3) {
    width: 0px;
    height: 1px;
    top: 40px;
    right: 0;
}

.link:hover > span:nth-of-type(3) {
    width: 130px;
}

.link span:nth-of-type(4) {
    width: 1px;
    height: 0;
    top: 0;
    left: 129px;
}

.link:hover > span:nth-of-type(4) {
    height: 40px;
}

.add {
    display: inline-block;
    width: 50px;
    height: 50px;
    /*border: 1px solid white;*/
    margin-top: 10px;
    margin-left: 20px;
    position: relative;
}

.add > i {
    position: absolute;
    width: 2px;
    height: 2px;
    top: 24px;
    left: 24px;
    background: white;
    transition: transform 0.3s ease-in-out;
}

.add > i:nth-of-type(1) {
    transform: translate(-6px, -6px);
}

.add:hover i:nth-of-type(1) {
    transform: translate(0px, -4px);
    height: 4px;
}

.add > i:nth-of-type(2) {
    transform: translate(0px, -6px);
}

.add > i:nth-of-type(3) {
    transform: translate(6px, -6px);
}

.add:hover i:nth-of-type(3) {
    transform: translate(2px, 0px);
    width: 4px;
}

.add > i:nth-of-type(4) {
    transform: translate(-6px, 6px);
}

.add:hover i:nth-of-type(4) {
    transform: translate(-4px, 0px);
    width: 4px;
}

.add > i:nth-of-type(5) {
    transform: translate(0px, 6px);
}

.add > i:nth-of-type(6) {
    transform: translate(6px, 6px);
}

.add:hover i:nth-of-type(6) {
    transform: translate(0px, 2px);
    height: 4px;
}

.add > i:nth-of-type(7) {
    transform: translate(-6px, 0px);
}

.add > i:nth-of-type(8) {
    transform: translate(0px, 0px);
}

.add > i:nth-of-type(9) {
    transform: translate(6px, 0px);
}

/*.add:hover i {*/
/*transform: rotate(180deg);*/
/*}*/

.add span {
    position: absolute;
    display: inline-block;
    background: white;
    transition: all 0.4s ease-in-out;
}

.add span:nth-of-type(1) {
    width: 0px;
    height: 1px;
    top: 0;
    left: 0%;
    /*height: 1px;*/
    /*width: 0;*/
    right: auto;
}

.add:hover > span:nth-of-type(1) {
    width: 50px;
}

.add span:nth-of-type(2) {
    width: 1px;
    height: 0;
    bottom: 0;
    left: 0;
}

.add:hover > span:nth-of-type(2) {
    height: 50px;
}

.add span:nth-of-type(3) {
    width: 0px;
    height: 1px;
    top: 50px;
    right: 0;
}

.add:hover > span:nth-of-type(3) {
    width: 50px;
}

.add span:nth-of-type(4) {
    width: 1px;
    height: 0;
    top: 0;
    left: 50px;
}

.add:hover > span:nth-of-type(4) {
    height: 50px;
}

/*侧边栏*/
.user-aside {
    position: fixed;
    right: -310px;
    top: 0;
    z-index: 10;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 1);

}

.user-aside-list a {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
    text-decoration: none;
}

.user-aside-list a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.userWrap {
    padding: 30px;
}

.headWrap {
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.headWrap img {
    border-radius: 50%;
    width: 100%;
}

.userInfo {
    display: inline-block;
    font-size: 14px;
}

.userInfo p {
    margin-top: 5px;
}

.user-aside i {
    margin-right: 8px;
}
/*主体部分*/
.main {
    margin: 5px auto 0;
    width: 1150px;
    min-height: 1000px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

/*loading*/
.loading-mask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: opacity .3s;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-top: -21px;*/
    width: 100%;
    text-align: center;
}

.loading-mask .circular {
    height: 42px;
    width: 42px;
    animation: loading-rotate 2s linear infinite;
}

.loading-mask .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #409eff;
    stroke-linecap: round;
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    to {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@keyframes loading-rotate {
    to {
        transform: rotate(1turn)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        -ms-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}




