<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <% include ../include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
    <style>

        .main {
            background: white;
            min-height: auto;
        }

        .main-content{
            border-left: 1px solid #e9e9e9;
        }

        .main-crumbs{
            font-size: 16px;
            margin-bottom: 20px;
        }
        .main-crumbs:before{
            margin-left: -6px;
            margin-right: 8px;
            content: '';
            display: inline-block;
            height: 18px;
            width: 3px;
            background-color: #2e6da4;
            vertical-align: -4px;
        }
        #blog-tab{
            border-bottom: 1px solid #ddd;
        }
        .sidebar i {
            color: #333;
            margin-right: 5px;
        }

        .main-search-box {
            margin-top: 16px;
            padding: 16px;
            font-size: 14px;
            background: #f2f5f7;
            display: none;
        }

        .blog-listWrap {
            min-height: 600px;
            width: 100%;
        }

        .nav-item.on{
            border-bottom: 2px solid #2e6da4;
        }
        .nav-link{
            color: #aaaaaa;
        }
        .nav-item.on .nav-link{
            color: #2e6da4;
        }

        .blog-item {
            /*height: 100px;/*/
            padding: 20px 0 10px;
            margin-bottom: 10px;
            border-bottom: 1px dotted #aaa;
        }
        .item-title a:hover{
            color: #2e6da4;
        }
        .item-title span{
            color: #999;
        }

        .item-title-box{
            padding: 0px;
            margin-bottom: 10px;
        }

        .item-title {
            font-size: 18px;
            font-weight: 600;
        }

        .item-title-type{
            display: inline-block;
            width: 28px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            border-radius: 50%;
            border: 1px solid;
            font-size: 12px;
            font-weight: 500;
            margin-right: 5px;
            vertical-align: 2px;
        }

        .type-1{
            color: #ca0c16;
            border-color: #f4ced0;
        }
        .type-2{
            color: #86ca5e;
            border-color: #e7f4df;
        }
        .type-3{
            color: #79a5e5;
            border-color: #e4edfa;
        }

        .item-abstract{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            /*display: -webkit-box;!*必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。*!*/
            /*-webkit-line-clamp: 3;!*用来限制在一个块元素显示的文本的行数*!*/
            /*-webkit-box-orient: vertical;*/
        }

        .item-info {
            color: #aaa;
            font-size: 12px;
        }

        .item-info-oper a {
            padding-right: 8px;
            border-right: 1px solid #ccc;
            margin-right: 8px;
            color: #349EDF;
        }

        .item-info span {
            margin-right: 25px;
        }

        .item-info .del, .item-info .deepdel {
            color: #CA0C16;
            border-right: 0;
        }

        .dropdown{
            /*padding: 2px 10px;*/
            border-color: #ccc;
            color: #ccc;
            width: 100px;
            height: 32px;
        }
        .dropdown.active{
            color: #333;
        }
        #key{
            border-color: #cccccc;
            text-align: left;
        }
    </style>

</head>
<body>
<% include ../include/header.ejs %>

<section class="main container">
    <div class="row">

        <% include m-blogAside.ejs %>

        <div class="main-content col-6 col-md-10">
            <div class="main-crumbs">文章管理</div>
            <div class="main-nav-tabs">
                <ul class="nav nav-pills" id="blog-tab" >
                    <li class="nav-item" data-status="total">
                        <a id="total" class="nav-link " href="javascript:void(0)" >全部</a>
                    </li>
                    <li class="nav-item on" data-status="published">
                        <a id="published" class="nav-link " href="javascript:void(0)" >已发表</a>
                    </li>
                    <li class="nav-item " data-status="privated">
                        <a id="privated" class="nav-link " href="javascript:void(0)" >私有的</a>
                    </li>
                    <li class="nav-item" data-status="drafts">
                        <a id="drafts" class="nav-link " href="javascript:void(0)" >草稿箱</a>
                    </li>
                    <li class="nav-item" data-status="deleted">
                        <a id="trash" class="nav-link " href="javascript:void(0)" >回收站</a>
                    </li>
                </ul>
            </div>
            <div class="main-search-box">
                <div class="row" >
                    <div class="col-md-3 col-lg-3">
                        <label>发布时间：</label>
                        <select class="dropdown year " >
                            <option class="dropdown-item yearOption" value="">不限</option>
                            <option class="dropdown-item yearOption" value="2018">2018</option>
                            <option class="dropdown-item yearOption" value="2017">2017</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <label>文章类型：</label>
                        <select class="dropdown type " >
                            <option class="dropdown-item" value="">不限类型</option>
                            <option class="dropdown-item" value="1">原创</option>
                            <option class="dropdown-item" value="2">转载</option>
                            <option class="dropdown-item" value="3">翻译</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-lg-5">
                        <input class="btn" id="key" type="text" value="" placeholder="仅支持标题关键词搜索" >
                        <button type="button" class="btn btn-primary btn-search">搜索</button>
                    </div>
                </div>
            </div>
            <ul class="blog-listWrap">
                <!--template-->
            </ul>
            <ul class="pagination right" id="paginationTemplate">
                <!--template-->
            </ul>
        </div>

    </div>

</section>

<% include ../include/footer-res.ejs %>

<script id="blog_template" type="text/html">
    {{ if list.length > 0 }}
    {{each list }}
    <li class="blog-item">
        <div class="item-title-box">
            {{ if $value.type == 1 }}
            <span class="item-title-type type-1">原</span>
            {{ else if $value.type == 2 }}
            <span class="item-title-type type-2">转</span>
            {{ else if $value.type == 3 }}
            <span class="item-title-type type-3">译</span>
            {{ /if }}
            <span class="item-title">
                {{ if status == 'deleted' }}
                <span >{{ $value.title }}</span>
                {{ else }}
                <a href="/manage/blog/{{$value.id}}">{{ $value.title }}</a>
                {{ /if }}
            </span>
        </div>
        <!--<div class="item-abstract">{{@ $value.content.slice(0, 70) }}</div>-->
        <div class="item-info clear">
            <div class="left">
                <span>{{ $value.createTime | dateFormat }}</span>
                <span>阅读量</span>
                <span>评论数</span>
            </div>
            <div class="right item-info-oper" data-id="{{$value.id}}">
                <a href="/common/blogDetail/{{$value.id}}" target="_blank">查看</a>
                {{ if status == 'total' || status == 'published' }}
                <a href="">禁止评论</a>
                <a href="">置顶 </a>
                {{ /if }}
                {{ if status == 'deleted' }}
                <a class="deepdel" href="javascript:void(0)">彻底删除</a>
                {{ else }}
                <a class="del" href="javascript:void(0)">删除</a>
                {{ /if }}
            </div>
        </div>
    </li>
    {{ /each }}
    {{ else }}
    <p class="noData">没有符合条件的文章</p>
    {{ /if }}
</script>
<script id="pagination_template" type="text/html">
    <li class="prePage">
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {{each list2 }}
    <li class="pageItem {{$value}}"><a href="#">{{ $index + 1 }}</a></li>
    {{ /each }}
    <li class="nextPage">
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</script>
<!-- Include Editor JS files. -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.pkgd.min.js"></script>-->
<script src="/lib/froala_editor.2.8.5.min.js"></script>

<script>

    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {
                    userInfo: null,
                    showAside: false,
                    status: 'total'
                }
            }

            initial() {

//                manage.userInfo = JSON.parse(sessionStorage.getItem('user'));
//              搜索框
                $('.dropdown').change(function () {
                    let $this = $(this);
                    if($this.val() != '') {
                        $this.addClass('active')
                    }else{
                        $this.removeClass('active')
                    }
                });
                $('.btn-search').click(function () {
                    manage.getBlogList({})
                })

                manage.getBlogStatus();
                manage.getBlogList({status: 'published'});

                $('#blog-tab').delegate('li', 'click', function () {
                    $('.year').val('');
                    $('.type').val('');
                    $('#key').val('');
                    $('.dropdown').removeClass('active');
                    $('.nav-item').removeClass('on');
                    let status = $(this).data('status');
                    $(this).addClass('on');
                    manage.getBlogList({status: status});
                    manage.data.status = status;
                    if(status == 'total'){
                        $('.main-search-box').show();
                    }else {
                        $('.main-search-box').hide();
                    }
                });

            }

            getBlogList(obj) {

                let time = $('.year').val();
                let type = $('.type').val();
                let searchKey = $('#key').val().trim();

                ajaxData('post', '/getBlogs', {
                    time: time,
                    type: type,
                    keyword: searchKey,
                    status: obj.status || manage.data.status || '',
                    pagesize: 10,
                    currentPage: obj.currentPage || 1,
                    author: '<%= user.name %>'
                }).then(function (res) {
                    if (res.success) {
                        let data = {
                            list: res.data.pageData,
                            status: manage.data.status
                        };
                        let str = template('blog_template', data);
                        $('.blog-listWrap').html(str);

                        let arr = new Array(res.data.totalPage);
                        arr[res.data.currentPage - 1] = 'active';
                        let data2 = {
                            list2: arr
                        };
                        let str2 = template('pagination_template', data2);
                        $('#paginationTemplate').html(str2);

                        setTimeout(function () {

                            $('.del').unbind().click(function () {
                                let _this = this;
                                let id = $(this).parent('.item-info-oper').data('id');
                                swal({
                                    title: "删除",
                                    text: "确定删除该文章吗？",
                                    icon: "warning",
                                    buttons: {
                                        cancel: '取消',
                                        default: '删除',
                                    },
                                }).then(value => {
                                    switch (value) {
                                        case "default":
                                            ajaxData('post', '/deleteBlog', {
                                                id: id
                                            }).then(function (res) {
                                                if(res.success){
                                                    $(_this).parents('li').fadeOut(1000, function () {
//                                                        manage.getBlogList({});
                                                        manage.getBlogStatus({});
                                                    })
                                                }
                                            })
                                            break;
                                        default:
                                            break;
                                    }
                                })
                            });
                            $('.deepdel').unbind().click(function () {
                                let _this = this;
                                let id = $(this).parent('.item-info-oper').data('id');
                                swal({
                                    title: "删除",
                                    text: "确定彻底删除该文章吗？",
                                    icon: "warning",
                                    buttons: {
                                        cancel: '取消',
                                        default: '删除',
                                    },
                                }).then(value => {
                                    switch (value) {
                                        case "default":
                                            ajaxData('post', '/deepDeleteBlog', {
                                                id: id
                                            }).then(function (res) {
                                                if(res.success){
                                                    $(_this).parents('li').fadeOut(1000, function () {
                                                        manage.getBlogList({});
                                                        manage.getBlogStatus({});
                                                    })
                                                }
                                            })
                                            break;
                                        default:
                                            break;
                                    }
                                })
                            });

                            $('.modify').unbind().click(function () {
                                $('.loading-mask, .popup').show();
                                userManage.data.modifyId = $(this).parent('td').data('id');
                                let name = $(this).parent('td').data('name');
                                let email = $(this).parent('td').data('email');
                                $('#name').val(name);
                                $('#email').val(email);
                            });

                            $('.pageItem').unbind().click(function () {
                                let index = Number($(this).text());
                                if (res.data.currentPage != index) {
                                    manage.getBlogList({currentPage: index})
                                }
                            });
                            if (res.data.hasPrev) {
                                $('.prePage').unbind().click(function () {
                                    manage.getBlogList({currentPage: res.data.currentPage - 1})
                                });
                            } else {
                                $('.prePage').addClass('disabled');
                            }
                            if (res.data.hasNext) {
                                $('.nextPage').unbind().click(function () {
                                    manage.getBlogList({currentPage: res.data.currentPage + 1})
                                });
                            } else {
                                $('.nextPage').addClass('disabled');
                            }
                        }, 100)

                    }
                });

            }

            getBlogStatus(){
                ajaxData('post', '/getBlogStatus', {
                    author: '<%= user.name %>',
                }).then(function (res) {
                    if (res.success) {
                        $('#total').text(`全部(${res.data.total})`);
                        $('#published').text(`已发表(${res.data.published})`);
                        $('#privated').text(`私有的(${res.data.privated})`);
                        $('#drafts').text(`草稿箱(${res.data.drafts})`);
                        $('#trash').text(`回收站(${res.data.trash})`);
                    }
                });
            }
        }

        let manage = new Manage();
        manage.initial();
        template.defaults.imports.dateFormat = function(val){
            return new Date(Number(val)).toLocaleString();
        };
        template.defaults.imports.typeFormat = function(val) {
            switch (val){
                case '1':
                    return '原';
                    break;
                case '2':
                    return '转';
                    break;
                case '3':
                    return '译';
                    break;
                default:
                    return '不知道类型';
            }
        }


        });


</script>
</body>
</html>
